services:
  op-connect-api:
    image: 1password/connect-api:latest
    restart: unless-stopped
    ports:
      - "{{ onepassword_server_port }}:8080"
    volumes:
      - "./1password-credentials.json:/home/opuser/.op/1password-credentials.json"
      - "1password:/home/opuser/.op/data"
  op-connect-sync:
    image: 1password/connect-sync:latest
    restart: unless-stopped
    volumes:
      - "./1password-credentials.json:/home/opuser/.op/1password-credentials.json"
      - "1password:/home/opuser/.op/data"

volumes:
  1password:
    driver: local
